.widget-targetprocess-sprint {
  background-color: #666;
  vertical-align: top !important;

  h1 {
    font-weight: bold;
    font-size: 36px;
  }


  .sprint-days-left {
    border-top: 1px solid #ffffff;
    padding-top: 10px;

    .label {
      width: 168px;
      float: right;

      .date {
        margin-top: 0;
        font-size: 20px;
      }
    }
    .amount {
      font-size: 60px;
      font-weight: bold;
      width: 50px;
      float: left;
      margin: -15px 26px 0 28px;
    }
  }

  .health-title {
    clear: both;
    border-top: 1px solid #ffffff;
    margin: 10px 0 3px 0;
    padding-top: 11px;
    font-size: 12px;
    text-align: left;
  }

  .sprint-points-health {
    max-width: 100%;
    margin: 0 auto;

    .progress {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }

    .progress .bar {
      padding: 10px;
      height: 20px;
      background: #ccc;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      font-size: 16px;
    }
    .progress .remain {
      background: #D04437;
    }
    .progress .in-progress {
      color: #666666;
      background: #FFD351;
    }
    .progress .done {
      background: #14892C;
    }
  }

  .sprint-points-health-details {
    div {
      font-size: 14px;
      text-align: left !important;
      margin-top: 10px;
    }

    span.count {
      border-top-right-radius: 35px;
      border-bottom-right-radius: 35px;
      -moz-border-radius-bottomright: 35px;
      -moz-border-radius-topright: 35px;

      padding: 2px 10px 2px 7px;
      margin: 10px 5px 10px 0;
    }

    .in-testing, .approval {
      color: #666666;
      background: #FFD351;
    }
  }
}

