.widget-targetprocess-sprint {
  background-color: coral;
  cursor: default;

  h1 {
    font-size: 111px;
    margin: 0px;
  }

  .sprint-name {
    font-weight: bold;
    font-size: 36px;
  }

  .sprint-end-date {
    margin-top: 0;
    font-size: 29px;
  }
}