.widget-targetprocess-sprint {
  background-color: #666;
  vertical-align: top !important;

  h1 {
    font-weight: bold;
    font-size: 36px;
  }


  .sprint-days-left {
    border-top: 1px solid #ffffff;
    padding-top: 10px;

    .label {
      width: 168px;
      float: right;

      .date {
        margin-top: 0;
        font-size: 20px;
      }
    }
    .amount {
      font-size: 60px;
      font-weight: bold;
      width: 50px;
      float: left;
      margin: -15px 26px 0 28px;
    }
  }

  .health-title {
    clear: both;
    border-top: 1px solid #ffffff;
    margin: 10px 0 3px 0;
    padding-top: 33px;
    font-size: 12px;
    text-align: left;
  }

  .sprint-health {
    width: 100%;
    clear: both;
    margin-bottom: 10px;

    div {
      box-sizing: border-box;
      float:left;
      padding: 3px;
      min-width: 8%;
      height: 25px;
      font-size: 12px;
    }

    .remain {
      background-color: #D04437;
      border: 0px !important;
    }

    .in-progress {
      color: #666666;
      background-color: #FFD351;
      border: 0px !important;
    }

    .done {
      background-color: #14892C;
      border: 0px !important;
    }
  }

}